ADMIN_ACCESS_MODE=lan_whitelist
ADMIN_SURFACE_PORTS=8088,9443
ADMIN_SURFACE_WHITELIST=127.0.0.1/32,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
ADMIN_SURFACE_IFACE=
ADMIN_SURFACE_CHAIN=DOCKER-USER
ADMIN_SURFACE_TAG=portaleco-admin
